<footer>
    <aside>
        <img class="signature" src="/img/signature.png" alt="signature" />
    </aside>
    <article>
        <div class="links">
            <a href="/other/jay_lara_cv_resume.pdf" title="View My Resume" target="_blank">Resume</a>
            <a href="/projects" title="Explore My Projects">Projects</a>
            <a href="http://www.github.com/jaylara" title="Check Out My Code">GitHub</a>
            <a href="http://www.linkedin.com/in/jaylara1" title="Connect With Me">LinkedIn</a>
            <!-- <a href="#" title="Send Me A Message">Contact</a> -->
        </div>
        <div>
            Created with <span class="heart moveY20Ease5s">♥</span> at <b>GA</b>.
            &#9400; 2017 Jay Lara.
        </div>
    </article>
</footer>
