<header>
    <div class="title" onclick="location.href='/'" title="Go Back To Home Page" >
        <h1><b>jay</b>lara</h1>
        <h2>software engineer</h2>
    </div>
    <nav>
        <a href="/other/jay_lara_cv_resume.pdf" title="View My Resume" target="_blank" class="button info-tile-blue">
            Resume
        </a>
        <a href="/projects" title="Explore My Projects" class="button info-tile-blue">
            Projects
        </a>
        <a href="http://www.github.com/jaylara" title="Check Out My Code">
            <img src="/img/icons/github-logo.png" alt="Check Out My Code" height="66px" />
        </a>
        <a href="http://www.linkedin.com/in/jaylara1" title="Connect With Me">
            <img src="/img/icons/linkedin-logo.png" alt="Connect With Me" height="66px" />
        </a>
    </nav>
</header>
