<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <title>The Web Portfolio of Jay Lara</title>
</head>
<body>
    <div id="wrapper">
        <% include partials/header.ejs %>
        <div class="colorbar"></div>

        <main>
            <h1 class="greeting">Greetings! I'm Jay, a Full Stack Dev in Austin, TX.</h1>

            <section>
                <aside id="blurbs">
                </aside>
                <script>handleBlurbsLoad();</script>
                <article id="projects" class="info-tiles">
                </article>
                <script>handleProjectsLoad();</script>
            </section>
        </main>

        <div class="colorbar"></div>
        <% include partials/footer.ejs %>
    </div>

</body>
</html>
